* {box-sizing: border-box;}


html {
	font-size: 100%;
	min-height: 100vh;
	line-height: 1;
}

@font-face {
	font-family: Amatic SC;
	src: url(fonts/AmaticSC-Bold.ttf);
  }

  @font-face {
	font-family: Montserrat;
	src: url(fonts/Montserrat-Regular.ttf);
  }
  @font-face {
	font-family: Source-Sans-Pro;
	src: url(fonts/SourceSansPro-Regular.ttf);
  }
  
.buttons {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 2rem;
}

.succbuttonsleft {
margin-left: 5rem;
display: flex;
flex-direction: column;
float: left;
margin-bottom: 5rem;
}

.succbuttonsright {
	margin-right: 5rem;
	display: flex;
	flex-direction: column;
	float: right;
	margin-bottom: 5rem;
	}

.topbuttons {
	width: 100%;
	z-index: 2;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: -webkit-fixed;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 3em;
	background-color: #ad9ba5;
}

body {
	background-color: #F7F3D9;
}

h1 {
	font-family: 'Amatic SC', cursive;
	src: url(fonts/AmaticSC-Bold.ttf) format('ttf');
	text-align: center;
	font-size: 4rem;
	color: rgb(58, 58, 58);
	padding-bottom: 24px;
	margin-top: 4rem;
}

.description {
	font-family: 'Montserrat', sans-serif;
	src: url(fonts/Montserrat-Regular.ttf) format('ttf');
	text-align: center;
	font-size: 24px;
	color: rgb(58, 58, 58);

}

#bday {
	margin: 1.25rem auto;
}


.form{
	font-family: 'Source-Sans-Pro';
	src: url(./fonts/SourceSansPro-Regular.ttf) format('ttf');
	text-align: center;
	font-size: 25px;
	color: rgb(58, 58, 58);
}

section {
	text-align: center;
}

img {
	width: 150px;
	height: 150px;
}

button {
	font-family: 'Montserrat', sans-serif;
	src: url(fonts/Montserrat-Regular.ttf) format('ttf');
	text-align: center;
	background-color: #a76b89;
	width: 32px;
	color: white;
	margin-left: 22rem;
	margin-top: 0.5rem;
}

body .buttons {
align-items: center;
}

button:hover {
  cursor: pointer;
  background-color: #8b5a73;
}

::placeholder { /* Chrome/Opera/Safari */
	font-family: 'Montserrat', sans-serif;
	src: url(fonts/Montserrat-Regular.ttf) format('ttf');
	font-size: 20px;
  }



input {
	box-sizing: border-box;
	background-color: rgba(185, 148, 102, 0.466);
	font-family: 'Montserrat', sans-serif;
	src: url(fonts/Montserrat-Regular.ttf) format('ttf');
	height: 2rem;
	padding-left: 0.5rem;
}

input:focus {
	border: 2px solid #252324;
}

input::placeholder {
	font-family: 'Montserrat', sans-serif;
	src: url(fonts/Montserrat-Regular.ttf) format('ttf');
	color: #1d1d1d;
	opacity: 0.5;
}
input[type="submit"] {
	font-family: 'Montserrat', sans-serif;
	src: url(fonts/Montserrat-Regular.ttf) format('ttf');
	cursor: pointer;
	background-color: #a76b89;
	color: white;
	margin-left: 1.5rem;
}

input[type="submit"]:hover {
	background-color: #815169;
}

input[type="date"] {
	font-family: 'Montserrat', sans-serif;
	src: url(fonts/Montserrat-Regular.ttf) format('ttf');
	color: #3a3a3a96;
}

.question {
	font-family: 'Source-Sans-Pro';
	src: url(./fonts/SourceSansPro-Regular.ttf) format('ttf');
	margin: 1rem 1rem 0 0;
	margin-top: 4.5rem;
	padding: 0.3rem 0.5rem;
	width: 100%;
	font-size: 1rem;
	cursor: pointer;
	z-index: 10;
}

.succTextBox {
	background: white;
	margin-top: 5rem;
}

.succBox {
	border-radius: 0.125rem;
	padding: 0.5rem;
	margin: 0 auto;
	margin-bottom: 1.25rem;
	text-align: left;
	cursor: default;
	height: 65px;
	font-size: 15px;
	border-radius: 5px;
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.feedback {
	max-width: 42.3125rem;
	margin: 0 auto;
	margin-top: 0.5rem;
	
	padding: 0.5rem;
	border-radius: 0.125rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: default;
}


/* Form styling */

.inputForm {
	margin: 0.5rem;
}

#succeInfo, #helpInfo {
	height: auto;
	width: auto;
	text-align: left;
	overflow: auto;
	margin: 1.5rem;
	margin-top: 6rem;
	line-height: 1.5rem;
}

input[type=text] {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0.125rem;
	padding: 0.5rem;
	width: 100% /* on desktop 18.75rem */;
	max-width: 18.75rem;
	height: 2rem;
	line-height: 1rem;
	margin: 0.3125rem auto;
}

#date {
  	margin: 1.25rem auto;
}

.submit, .submithelp {
	font-size: 1rem;

	border-radius: 0.125rem;
	padding: 0.5rem;
	width: auto;
	height: 3.125rem;
	line-height: 1rem;
	margin: 0.3125rem auto;
 
	cursor: pointer;
	line-height: 1.2rem;
	text-align: right;
	height: auto;
	width: 100%;
	max-width: 22rem;
	min-height: 3.125rem;
}


/* Buttons at the bottom of the page */
.succicon {
  float: left;
}

.succicon:hover {
	cursor: pointer;
	animation: jump 1000ms linear both;
}

[class*="col-"] {
    float: left;
}

.col-1 {width: 25%;}
.col-2 {width: 100%;}
.col-3 {width: 75%;}
.col-4 {width: 100%;}


.succEntry {
	font-family: 'Montserrat', sans-serif;
	src: url(fonts/Montserrat-Regular.ttf) format('ttf');
	font-size: 1rem;
	text-transform: none;	
	display: none;
	/* padding: 1.5rem; */
	margin: 0.5rem auto;
	width: 100%;
	max-width: 25rem;
	background-color: rgba(255,255,255,1.00);
	box-shadow:  inset 4px 4px 0px rgb(153, 173, 130), inset -4px -4px 0px rgb(153, 173, 130);
	border-radius: 3px;
	overflow: auto;
	height: 26rem;
}

.succEntry.showZodiac { 
	display: block;
	
	animation: openSucc 2000ms linear both;
}

.succEntry.closeZodiac {
	display: block;

	animation: closeSucc 2000ms linear both;
}

.succPic {
	text-align: center;
	height: 150px;
}

.succPic > p {
	margin: 0;
}


.succDesc {
	margin: 1.5rem auto 0 auto;
	line-height: 1.75rem;
}

.helpbutton {
	text-align: left;
	font-size: 0.875rem;
	line-height: 1.5rem;
	margin: 1rem 1rem 0 1rem;
	
}

.inputForm.showZodiac {
	display: none;
}

.closesucc {
	font-size: 1rem;

	padding: 0.5rem;
	width: auto;
	margin: 1rem 0 1.5rem 1.5rem;
	margin-top: 5rem;
}

.music-button {
	width: auto;
	padding: 0.3rem 0.5rem;
	margin-top: 4.5rem;
	padding: 0.3rem 0.5rem;
	margin-left: 0.75rem;
}

@media screen and (max-width: 23.375rem /*374px*/) {
	[class*="col-"] {
		width: 100%;
	}

	.succPic {
		width: 150px;
	}

	.succDesc {
		margin-left: 1.5rem;
	}

	.submit {
		white-space: normal;
		text-align: center;
	}

	input[value="Find Your succMatch!"] {
		padding: 1rem;
	}
}

@media screen and (min-width: 23.5rem /*376px*/) {

	#inputform {
		width: 100%;
		margin: 0 auto;
	}

	input[type=text], input[type=date] {
		width: 18.75rem;
		margin: 0.3125rem auto;
	}

	input[type=date] {
		margin: 1.25rem auto;
	}

	.submit {
		max-width: 22rem;
		width: 100%;
	}

}

@media screen and (min-width: 45.0625rem /*721px*/) {
	.inputForm {
		margin: 0 auto;
	}

	.question {
		width: auto;
	}
}

@media screen and (min-width: 64rem /*1024px*/) {
	.music {
		display: flex;
		flex-direction: row;
		align-items: center;
		top: 0;
		left: 0;
	}
}
